@inherits LayoutComponentBase

<PageTitle>WasteZero</PageTitle>

<div class="page" style="@IconMenuCssClass">
    <RadzenDialog />
    <div style="background-image:none;background-color:cadetblue;" class="sidebar">
        <NavMenu />
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    private bool _iconMenuActive { get; set; }
    private string? IconMenuCssClass => _iconMenuActive ? "width: 80px;" : null;

    protected void ToggleIconMenu(bool iconMenuActive) {
        _iconMenuActive = iconMenuActive;
    }
}